@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden !important;
}

:root {
  /* Brand Pallette */
  --brand-blue: #090d91;
  --brand-yellow: #ffff00;
  --brand-white: #ffffff;
  --brand-black: #000000;
  --text-grey: #273746;

  /* Button Styles */
  --button-border-primary: 1px solid var(--brand-blue);
  --button-hover-primary: #4044CD;

  --brand-font: "Arimo", sans-serif;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden !important;

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


